
.navbar {
    background-color: #7998A7;
}

.dropdown-menu {
    background-color: #C2D1DC;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #A7B5C4;
    color: #000;
}

.dropdown-menu .dropdown-item:visited {
    background-color: #A7B5C4;
    color: #000;
}

.card {
    width: 500px;
    height: 550px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #f4f1deb7;
}

.card-img-top {
    margin-top: 10px;
    border: 3px, #2F4F4F, solid;
}